﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPageBuilder>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var items = Model.Value<IEnumerable<IPublishedElement>>("pageBuilder");


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    @foreach (var model in items)
    {
        string cName = model.ContentType.Alias;

        switch (model.ContentType.Alias)
        {
            case "alert":
                @Html.Partial("NestedContent/Alert", model);
                break;

            case "buttonGroup":
                @Html.Partial("NestedContent/Button Group", model);
                break;

            case "carousel":
                @Html.Partial("NestedContent/Carousel", model);
                break;

            case "card":
                @Html.Partial("NestedContent/Card", model);
                break;

            case "jumbotron":
                @Html.Partial("NestedContent/Jumbotron", model);
                break;

            case "listGroup":
                @Html.Partial("NestedContent/List Group", model);
                break;

            case "modal":
                @Html.Partial("NestedContent/Modal", model);
                break;
        }

    }

    @*<script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/framework/bootstrap/popper.min.js"></script>
        <script src="/framework/bootstrap/bootstrap.min.js"></script>
        <script src="/framework/jquery/jquery.smooth-scroll.min.js"></script>*@

</body>
</html>



