﻿@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Alert>
    @using Umbraco.Web;
    @{
    Layout = null;
    var alert = Model;
    }


    @{
    if (alert != null)
    {
    string sTypes = @alert.GetProperty("AlertType").Value().ToString();
    string alertType = "alert-success";
    <p>@sTypes;</p>
    switch (sTypes) {
    case "primary":
    alertType = "alert alert-primary fade show";
    break;

    case "secondary":
    alertType = "alert alert-secondary fade show";
    break;

    case "success":
    alertType = "alert alert-success fade show";
    break;

    case "danger":
    alertType = "alert alert-danger fade show";
    break;

    case "warning":
    alertType = "alert alert-warning fade show";
    break;

    case "info":
    alertType = "alert alert-info fade show";
    break;

    case "light alert":
    alertType = "alert alert-light fade show";
    break;

    case "dark alert":
    alertType = "alert alert-dark fade show";
    break;
    }

    <div class="@alertType" role="alert">
        <strong>@alert.GetProperty("Title").Value()</strong>
        <p>@alert.GetProperty("SubTitle").Value()</p>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Close</span>
        </button>
    </div>

    }
    }
