﻿@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = null;
    var btnGroup = Model;
}

<div class="btn-group btn-group-lg mb-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-lg">Left</button>
    <button type="button" class="btn btn-warning btn-lg">Middle</button>
    <button type="button" class="btn btn-danger btn-lg">Right</button>
</div>
<div class="btn-group mb-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-warning">Middle</button>
    <button type="button" class="btn btn-danger">Right</button>
</div>
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-sm">Left</button>
    <button type="button" class="btn btn-warning btn-sm">Middle</button>
    <button type="button" class="btn btn-danger btn-sm">Right</button>
</div>

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-primary ml-0">Button</button>
    <button type="button" class="btn btn-pink">Button</button>
    <button type="button" class="btn btn-success">Button</button>
    <button type="button" class="btn btn-amber">Button</button>
    <button type="button" class="btn btn-red">Button</button>
</div>

<div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn mdb-color lighten-2">1</button>
        <button type="button" class="btn indigo lighten-2">2</button>
        <button type="button" class="btn blue lighten-2">3</button>
        <button type="button" class="btn light-blue lighten-2">4</button>
        <button type="button" class="btn cyan lighten-2">5</button>
    </div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn indigo lighten-2"><i class="fas fa-star" aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2"><i class="fas fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2"><i class="fas fa-user" aria-hidden="true"></i></button>
        <button type="button" class="btn cyan lighten-2"><i class="fab fa-twitter" aria-hidden="true"></i></button>
    </div>
</div>
