﻿@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Card>
@using Umbraco.Web;
@{
    Layout = null;
    var image = @Model.GetProperty("ImageCap").Value();
    var header = @Model.GetProperty("Header").Value();
}

    @if (Model != null)
    {
    <div class="row">
        <div class="col-sm-6">

            <div class="card" style="width: 18rem;">
                @if (image != null) {
                <img class="card-img-top" src="..." alt="Card image cap">
                }
                @if (header != null) {
                <div class="card-header">
                    Featured
                </div>
                }
                <div class="card-body">
                    <h5 class="card-title">@Model.GetProperty("Title").Value()</h5>
                    <p class="card-text">@Model.GetProperty("SubTitle").Value()</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    }
