﻿@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
Layout = null;
var carousel = Model;
var allSlides = Model.TextContent;
}

<div class="carousel slide" data-ride="carousel" id="carousel">
    <div class="carousel-inner">
        @{
            int slideCount = 0;
            foreach (ContentModels.Slide slide in allSlides)
            {
                var title = slide.Text;
                var subtitle = slide.HasValue("Subtitle") ? slide.GetProperty("Subtitle").Value() : "";
                var imageUrl = slide.HasValue("Image") ? slide.GetProperty("Image").Value() : "/img/carousel.jpg";
                var allLinks = slide.Link.Count() == 0 ? null : slide.Link;

                if (allLinks != null)
                {
                    @*IEnumerable<RelatedLink>
                    links = slide.Children.Where(x=>x.IsVisible());

                    IEnumerable<RelatedLink>
                        links = slide.GetProperty<IEnumerable<RelatedLink>>("link");
                    RelatedLink link = links != null ? links.FirstOrDefault() : null;
                    <p>
                            <a class="btn btn-primary btn-lg hero-button" role="button" target="_blank" href="@slide.Link">@slide.Link</a>
                            @*<a class="btn btn-primary btn-lg hero-button" role="button" target="@(link.NewWindow ? "_blank" : null)" href="@link.Link">@link.Caption</a>
                    </p>
                    *@
                }



                <div class="carousel-item @(slideCount == 0 ? "active" : "")">
                    <div class="jumbotron carousel-hero" style="background-image:url('@(imageUrl)');">
                        <div class="d-block w-75">
                            <h1 class="hero-title">@title</h1>
                            <p class="hero-subtitle">@subtitle</p>
                        </div>
                    </div>
                </div>
                slideCount++;

            }
        }

    </div>

    <div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <ol class="carousel-indicators">
        @for (int i = 0; i < slideCount; i++)
        {
            <li data-target="#carousel" data-slide-to="@i" class="@(i == 0 ? "active" : null)"></li>
        }
    </ol>
</div>
