﻿@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Jumbotron>
@using Umbraco.Web;
@{
Layout = null;
}

@if (Model != null)
{

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.GetProperty("Title").Value()</h1>
        <p class="lead">@Model.GetProperty("Content").Value()</p>
    </div>
</div>
}
