﻿@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
    @{
    Layout = null;
    var mContent = Model;
    @*var allLinks = mContent.Links;*@
   
    }
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">mContent.GetProperty("Title").Value()</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h6 class="modal-content" id="ModalContent">mContent.GetProperty("Title").Value()</h6>
                
                var tooltips =  mContent.TooltipEnabled == "true" ? "true" : "false";
                if (tooltips != "false")
                {
                    <p>
                        <a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a>
                        have tooltips on hover.
                    </p>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalCenter').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
</script>
}

